/debots/network/
/debots/debot-run.sh
/debots/build.log
/debots/debot-run-se.sh
/debots/debot_err.log
/debots/secret.json
/debots/Tezos.abi.json
/debots/Tezos.tvc
/debots/tonos-cli
/debots/tonos-cli.conf.json
/scripts/build.log
/scripts/secret.json
/scripts/tonos-cli.conf.json
/debots/build/
.idea
/debots/build/
/debots/interfaces/QRCode/debot_err.log
/debots/interfaces/QRCode/QRCode.abi.json
/debots/interfaces/QRCode/QRCode.tvc
/debots/interfaces/QRCode/tonos-cli
